/* NAVBAR */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    background-color: #FFB90A;
}
nav .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    nav .logo a{
        text-decoration: none;
        font-size: 25px;
        color: #D1182D;
        font-weight: 800;
    }
        .logo a i{
            /* position: absolute;
            margin: 3px 0px 0px -34px; */
        }

/* CARD */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

/* SLIDE MENU */
.sidebar ul li.active{
    font-weight: 800;
}
